.neo-card {
  font-family: Montserrat, sans-serif;
  width: 300px;
  height: 250px;
  translate: -6px -6px;
  background: white;
  border: 3px solid #000000;
  border-radius: 5px;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
}

.neo-head {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 900;
  width: 100%;
  height: 32px;
  background: #ffffff;
  padding: 5px 12px;
  color: #000000;
  border-bottom: 3px solid #000000;
}

.neo-content {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
}

.neo-button {
  padding: 5px 10px;
  margin-top: 10px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: white;
  color: black;
  transition: all 0.3s ease;
  cursor: pointer;
}

.neo-button:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: black;
  color: white;
}

.neo-button:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

.neo-card:hover {
  translate: -6px;
}
